// common 
body
    font-family: 'Roboto', sans-serif;
    color $cText
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height 100%

h1, .h1
    font-family: 'DIN Pro';
    font-size 48px
    letter-spacing: -0.02em;
    margin-bottom 20px
    @media $s
        font-size 36px

h2, .h2
    font-family: DIN Pro;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom 60px
    @media $s
        font-size 24px
        line-height 28px
        margin-bottom 45px
    
p
    line-height 26px
    margin-bottom 40px
    color $cText2

.selected
    color $cPrimary
    font-weight bold

.header
    display flex
    box-sizing border-box
    flex-direction column
    align-items center
    justify-content center
    min-height 480px
    text-align center
    padding 20px 50px 0
    @media $s
        padding 0 20px
        min-height 400px

.btn
    display flex
    height 54px
    align-items center
    padding 0 30px
    position relative
    font-size 16px
    font-weight bold
    margin-left 45px
    text-transform uppercase
    text-decoration none
    color $cText
    outline 0
    cursor pointer
    &:before
        font-family: 'DIN Pro';
        content: '+'
        position absolute
        display flex
        box-sizing border-box
        padding 9px 0 0 20px
        color $cPrimary
        font-weight normal
        width 54px
        height 54px
        margin-left -46px
        background rgba(135, 135, 135, 0.05)
        border-radius 111px
        font-size 30px
        transition all 0.3s ease
    &:hover:before
        width calc(100% + 11px)
        transition all 0.3s ease

// hero
.hero
    margin-bottom -20px
    @media $m
        margin-bottom -70px
    &__image
        height 600px
        background-size cover
        background-position right center
        @media $m
            height 450px
        @media $s
            height 320px
            background-position 90% center
    &__content-wrapper
        background $cLight
        padding 0 50px
        @media $s
            padding 0 20px
    &__content
        font-family: 'DIN Pro';
        position relative
        top -95px
        max-width 970px
        margin 0 auto
        background #fff
        display flex
        flex-flow row wrap
        border 1px solid #ededed
        @media $m
            top -120px
        @media $s
            top -100px
    &__item
        box-sizing border-box
        flex 0 0 50%
        padding 45px 60px 65px
        border 1px solid #ededed
        @media $m
            padding 45px
        @media $s
            padding 30px
            flex 0 0 100%
        &-title
            color $cPrimary
            font-size: 12px;
            font-weight bold
            line-height: 19px;
            letter-spacing: 0.04em;
            text-transform: uppercase
            margin-bottom 12px
        &-text
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.03em;
            @media $m
                font-size 18px
                line-height: 24px

// intro text
.intro
    background #fff
    padding 0 50px
    @media $s
        padding 0 20px
    &__content
        max-width 770px
        margin 0 auto
        padding 80px 0
        @media $m
            max-width 520px
        @media $s
            padding 50px 0 40px
        p
            margin-bottom 30px

// pluses
.pluses
    background $cLight
    padding 115px 50px
    display flex
    flex-direction column
    align-items center
    @media $m
        padding 100px 50px
    @media $s
        padding 50px 20px 30px
    &__content
        max-width 1140px
        margin 0 -30px
        display flex
        @media $m
            flex-direction column
            max-width 510px
        @media $s
            margin 0
    &__item
        flex 0 0 33.33%
        padding 0 30px
        box-sizing border-box
        @media $m
            padding 0
    &__icon
        fill $cPrimary
        margin-bottom 25px
    &__title
        font-family DIN Pro
        font-size 20px
        line-height 25px
        font-weight bold
        @media $s
            font-size 18px
        &:after
            content ''
            display block
            width 24px
            height 2px
            background $cPrimary
            margin 22px 0 25px

// contacts
.contacts
    background $cDark
    color #fff
    padding 100px 0 110px
    @media $m
        padding 80px 0
    @media $s
        padding 50px 0
    &__content
        max-width 570px
        margin 0 auto
        @media $m
            max-width 520px
        @media $s
            max-width 100%
            padding 0 20px
    &__fields-item
        margin-bottom 70px
        counter-increment fields
        @media $s
            margin-bottom 50px
        &:before 
            position absolute
            margin-left -92px
            margin-top -21px
            display flex
            justify-content center
            align-items center
            border-radius 50%
            width 64px
            height 64px
            border: 1px solid rgba(255,255,255,0.23)
            content counter(fields)
            color $cPrimary
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            @media $m
                width 40px
                height 40px
                margin-left -55px
                margin-top -11px
            @media $s
                display none
    &__label
        display block
        line-height 25px
        margin-bottom 10px
        @media $s
            line-height 21px
    &__input
        font-family: 'Roboto', sans-serif;
        display block
        color #fff
        width 100%
        border 0
        background transparent
        border-bottom 2px solid rgba(247,248,250,0.1);
        font-size: 24px;
        line-height: 35px;
        letter-spacing: -0.01em;
        outline 0
        padding 14px 0
        resize none
        @media $s
            font-size 18px
            padding 5px 0
            line-height 21px

    textarea&__input
        min-height 70px

    &__submit
        font-family: 'DIN Pro';
        font-weight bold
        display block
        width 100%
        padding 20px
        color $cPrimary
        background #fff
        border 0
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        border-radius 111px
        cursor pointer
        transition all 0.3s ease
        outline 0
        &:hover
            background $cPrimary
            color #fff
