html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
h1,
.h1 {
  font-family: 'DIN Pro';
  font-size: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  h1,
  .h1 {
    font-size: 36px;
  }
}
h2,
.h2 {
  font-family: DIN Pro;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 60px;
}
@media screen and (max-width: 640px) {
  h2,
  .h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 45px;
  }
}
p {
  line-height: 26px;
  margin-bottom: 40px;
  color: #4e4d53;
}
.selected {
  color: #f47821;
  font-weight: bold;
}
.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  text-align: center;
  padding: 20px 50px 0;
}
@media screen and (max-width: 640px) {
  .header {
    padding: 0 20px;
    min-height: 400px;
  }
}
.btn {
  display: flex;
  height: 54px;
  align-items: center;
  padding: 0 30px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-left: 45px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  outline: 0;
  cursor: pointer;
}
.btn:before {
  font-family: 'DIN Pro';
  content: '+';
  position: absolute;
  display: flex;
  box-sizing: border-box;
  padding: 9px 0 0 20px;
  color: #f47821;
  font-weight: normal;
  width: 54px;
  height: 54px;
  margin-left: -46px;
  background: rgba(135,135,135,0.05);
  border-radius: 111px;
  font-size: 30px;
  transition: all 0.3s ease;
}
.btn:hover:before {
  width: calc(100% + 11px);
  transition: all 0.3s ease;
}
.hero {
  margin-bottom: -20px;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-bottom: -70px;
  }
}
.hero__image {
  height: 600px;
  background-size: cover;
  background-position: right center;
}
@media screen and (max-width: 768px) {
  .hero__image {
    height: 450px;
  }
}
@media screen and (max-width: 640px) {
  .hero__image {
    height: 320px;
    background-position: 90% center;
  }
}
.hero__content-wrapper {
  background: #f7f5fa;
  padding: 0 50px;
}
@media screen and (max-width: 640px) {
  .hero__content-wrapper {
    padding: 0 20px;
  }
}
.hero__content {
  font-family: 'DIN Pro';
  position: relative;
  top: -95px;
  max-width: 970px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ededed;
}
@media screen and (max-width: 768px) {
  .hero__content {
    top: -120px;
  }
}
@media screen and (max-width: 640px) {
  .hero__content {
    top: -100px;
  }
}
.hero__item {
  box-sizing: border-box;
  flex: 0 0 50%;
  padding: 45px 60px 65px;
  border: 1px solid #ededed;
}
@media screen and (max-width: 768px) {
  .hero__item {
    padding: 45px;
  }
}
@media screen and (max-width: 640px) {
  .hero__item {
    padding: 30px;
    flex: 0 0 100%;
  }
}
.hero__item-title {
  color: #f47821;
  font-size: 12px;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.hero__item-text {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.03em;
}
@media screen and (max-width: 768px) {
  .hero__item-text {
    font-size: 18px;
    line-height: 24px;
  }
}
.intro {
  background: #fff;
  padding: 0 50px;
}
@media screen and (max-width: 640px) {
  .intro {
    padding: 0 20px;
  }
}
.intro__content {
  max-width: 770px;
  margin: 0 auto;
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .intro__content {
    max-width: 520px;
  }
}
@media screen and (max-width: 640px) {
  .intro__content {
    padding: 50px 0 40px;
  }
}
.intro__content p {
  margin-bottom: 30px;
}
.pluses {
  background: #f7f5fa;
  padding: 115px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .pluses {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 640px) {
  .pluses {
    padding: 50px 20px 30px;
  }
}
.pluses__content {
  max-width: 1140px;
  margin: 0 -30px;
  display: flex;
}
@media screen and (max-width: 768px) {
  .pluses__content {
    flex-direction: column;
    max-width: 510px;
  }
}
@media screen and (max-width: 640px) {
  .pluses__content {
    margin: 0;
  }
}
.pluses__item {
  flex: 0 0 33.33%;
  padding: 0 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .pluses__item {
    padding: 0;
  }
}
.pluses__icon {
  fill: #f47821;
  margin-bottom: 25px;
}
.pluses__title {
  font-family: DIN Pro;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .pluses__title {
    font-size: 18px;
  }
}
.pluses__title:after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background: #f47821;
  margin: 22px 0 25px;
}
.contacts {
  background: #161616;
  color: #fff;
  padding: 100px 0 110px;
}
@media screen and (max-width: 768px) {
  .contacts {
    padding: 80px 0;
  }
}
@media screen and (max-width: 640px) {
  .contacts {
    padding: 50px 0;
  }
}
.contacts__content {
  max-width: 570px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .contacts__content {
    max-width: 520px;
  }
}
@media screen and (max-width: 640px) {
  .contacts__content {
    max-width: 100%;
    padding: 0 20px;
  }
}
.contacts__fields-item {
  margin-bottom: 70px;
  counter-increment: fields;
}
@media screen and (max-width: 640px) {
  .contacts__fields-item {
    margin-bottom: 50px;
  }
}
.contacts__fields-item:before {
  position: absolute;
  margin-left: -92px;
  margin-top: -21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 1px solid rgba(255,255,255,0.23);
  content: counter(fields);
  color: #f47821;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
@media screen and (max-width: 768px) {
  .contacts__fields-item:before {
    width: 40px;
    height: 40px;
    margin-left: -55px;
    margin-top: -11px;
  }
}
@media screen and (max-width: 640px) {
  .contacts__fields-item:before {
    display: none;
  }
}
.contacts__label {
  display: block;
  line-height: 25px;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .contacts__label {
    line-height: 21px;
  }
}
.contacts__input {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #fff;
  width: 100%;
  border: 0;
  background: transparent;
  border-bottom: 2px solid rgba(247,248,250,0.1);
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.01em;
  outline: 0;
  padding: 14px 0;
  resize: none;
}
@media screen and (max-width: 640px) {
  .contacts__input {
    font-size: 18px;
    padding: 5px 0;
    line-height: 21px;
  }
}
textarea.contacts__input {
  min-height: 70px;
}
.contacts__submit {
  font-family: 'DIN Pro';
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 20px;
  color: #f47821;
  background: #fff;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 111px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: 0;
}
.contacts__submit:hover {
  background: #f47821;
  color: #fff;
}
