extends layouts/default

block content

    // header
    .header
        h1 Ты готов стать профессионалом?
        p Мы ищем 
            span.selected талантов 
            | и 
            span.selected саппортов 
            | в команду. Решите на какую категорию вы претендуете. 
        .btn.js-toForm Заполнить анкету
    /// header

    // hero
    .hero
        .hero__image(style="background-image:url('f/i/hero.jpg')")
        .hero__content-wrapper
            .hero__content
                .hero__item
                    .hero__item-title Прокачиваем мир
                    .hero__item-text Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
                .hero__item
                    .hero__item-title Мотивируем себя
                    .hero__item-text У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?

                .hero__item
                    .hero__item-title Используем лучшее
                    .hero__item-text Вы способны применять разные подходы для достижения своих целей?
                .hero__item
                    .hero__item-title Относимся с пониманием
                    .hero__item-text Вы не обвиняете других в свои неудачах и способны воспринимать критику?
    /// hero

    // intro
    .intro
        .intro__content
            .h1 Мы похожи!
            p Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития.
            p Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
    /// intro

    // pluses
    .pluses
        h2 Приемущества работы с нами
        .pluses__content
            .pluses__item
                svg.pluses__icon(width="52" height="52")
                    use(xlink:href="#wallet")
                .pluses__title Делимся оптом и навыками
                p Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.
            .pluses__item
                svg.pluses__icon(width="52" height="52")
                    use(xlink:href="#wallet")
                .pluses__title Стабильная зарплата
                p Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.
            .pluses__item
                svg.pluses__icon(width="52" height="52")
                    use(xlink:href="#wallet")
                .pluses__title Гибкий график
                p Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.
    /// pluses
    
    // contacts
    .contacts
        form.contacts__content(data-parsley-validate)
            h2 Теперь расскажите о себе
            ol.contacts__fields
                li.contacts__fields-item
                    label.contacts__label Фамилия и имя
                    input.contacts__input(
                        type="text"
                        placeholder="Сидоров Александр",
                        required
                    )
                li.contacts__fields-item
                    label.contacts__label Электронная почта
                    input.contacts__input(
                        type="email"
                        placeholder="Sidorov@yandex.ru"
                        required
                    )
                li.contacts__fields-item
                    label.contacts__label Телефон
                    input.contacts__input.js-phone(
                        type="text"
                        placeholder="+7 (999)-328-14-20"
                        required
                        minlength="18"
                        data-required-message="Please insert your name"
                    )
                li.contacts__fields-item
                    label.contacts__label Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?
                    textarea.contacts__input(placeholder="Свой проект по созданию универсальной инфраструктуры строительства", required)
            input.contacts__submit(type="submit", value="Отправить")
    /// contacts